<app-nav-bar>
</app-nav-bar>
<html>

<div class="container" id="main-container">

   <div class="container pt-4" id="main-container-role">
      <br><br><br>
      <h2>Login Credential Management</h2>
      <br>
      <!--table-->
      <div class="card rounded-0 border-0 shadow">
         <div class="card-body p-5">

            <!--  Bootstrap table-->
            <div class="table-responsive">
               <table class="table table-striped table-hover">
                  <thead>
                     <tr>
                        <!--add entity variable names here-->
                        <th scope="col">#</th>
                        <th scope="col">Login ID</th>
                        <th scope="col">Admin Number</th>
                        <th scope="col">Admin Password</th>
                     </tr>
                  </thead>
                  <tbody>
                     <!--loop through entity aray and display data to the table-->
                     <tr *ngFor="let login of logins; index as i">
                        <th scope=i>{{i+1}}</th>
                        <td>{{login.loginId}}</td>
                        <td>{{login.adminNum}}</td>
                        <td>{{login.adminPassword}}</td>
                        <td>
                           <!-- Call to action buttons: call your methods on click -->
                           <ul class="list-inline m-0">
                              <li class="list-inline-item">
                                 <a (click)="openUpdateLoginPopup(login)" class="btn btn-outline-info a-btn-slide-text">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                    <span><strong>Edit</strong></span>
                                 </a>
                              </li>
                              <li class="list-inline-item">
                                 <a (click)="openDeleteLoginPopup(login)" class="btn btn-outline-danger a-btn-slide-text">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    <span><strong>Delete</strong></span>
                                 </a>
                              </li>
                           </ul>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>

      <!--New entity add nutton-->
      <div class="d-grid gap-2">
         <br>
         <button type="button" class="btn btn-outline-dark btn-lg btn-block" (click)="openAddLoginPopup()"><strong>
               New Login Credentials</strong></button>
      </div>

   </div>
   <!--Models are displayed when clicking apon their buttons button-->
   <!-- Add Modal -->
   <div class="modal" id="addLoginModal" tabindex="-1">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title">Add Login Credentials</h5>
               <button (click)="closeAddLoginPopup()" type="button" class="btn-close" data-bs-dismiss="modal"
                  aria-label="Close"></button>
            </div>
            <div class="modal-body">
               <form [formGroup]="addLoginForm" (submit)="submitAddLoginForm()">
                  <div class="form-group">
                     <label for="name">Login ID</label>
                     <input type="text" formControlName="loginId" class="form-control" id="loginId" placeholder="Id"
                        required>
                  </div>
                  <div class="form-group">
                     <label for="email">Admin Number</label>
                     <input type="email" formControlName="adminNum" class="form-control" id="adminNum"
                        placeholder="Admin Number" required>
                  </div>
                  <div class="form-group">
                     <label for="phone">Admin Password</label>
                     <input type="text" formControlName="adminPassword" class="form-control" id="adminPassword"
                        placeholder="Admin Password" required>
                  </div>
                  <div class="modal-footer">
                     <button (click)="closeAddLoginPopup()" type="button" id="add-employee-form"
                        class="btn btn-secondary" data-dismiss="modal">Close</button>
                     <button (click)="verifyAddLoginForm($event)" id="saveChangesBtnId" type="submit"
                        class="btn btn-primary">Save changes</button>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>

   <!-- Edit Modal -->
   <div class="modal" id="updateLoginModal" tabindex="-1">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="updateLoginModalLabel">Edit Login Credentials {{editLogin.loginId}}</h5>
               <button (click)="closeUpdateLoginPopup()" type="button" class="btn-close" data-bs-dismiss="modal"
                  aria-label="Close"></button>
            </div>
            <div class="modal-body">
               <form [formGroup]="editLoginForm" (submit)="submitEditLoginForm()">
                  <div class="form-group">
                     <label for="name">Admin Number</label>
                     <input type="text" formControlName="adminNum" name="loginId" class="form-control" id="loginId"
                        placeholder="Admin Number">
                  </div>
                  <input type="hidden" formControlName="loginId" name="id" class="form-control" id="adminNum"
                     placeholder="ID">
                  <div class="form-group">
                     <label for="lastName">Admin Password</label>
                     <input type="text" formControlName="adminPassword" name="adminPassword" class="form-control" id="adminPassword"
                        placeholder="Admin Password">
                  </div>
                  <div class="modal-footer">
                     <button (click)="closeUpdateLoginPopup()" type="button" class="btn btn-secondary"
                        data-bs-dismiss="modal">Close</button>
                     <button (click)="verifyEditLoginForm($event)" id="editSaveChangesBtnId" type="submit"
                        class="btn btn-primary">Save changes</button>
                  </div>
               </form>
            </div>

         </div>
      </div>
   </div>

   <!-- Delete Modal -->
   <div class="modal" id="deleteLoginModal" tabindex="-1">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title">Delete Login Credentials</h5>
               <button (click)="closeDeleteLoginModel()" type="button" class="btn-close" data-bs-dismiss="modal"
                  aria-label="Close"></button>
            </div>
            <div class="modal-body">
               <p>Are you sure you want to delete Login Credentials {{deleteLogin.loginId}}?</p>
            </div>
            <div class="modal-footer">
               <button (click)="closeDeleteLoginModel()" type="button" class="btn btn-secondary"
                  data-bs-dismiss="modal">No</button>
               <button (click)="onDeleteLogin()" class="btn btn-danger">Yes</button>
            </div>
         </div>
      </div>
   </div>
</div>